canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  background-image: url(bilder/bakgrunnsbilde1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 1em;
}
#steinspin {
  transform-origin: 50% 50%;
  animation: 7s rotateRight infinite linear;
}
@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}
#scoreInput {
  width: 250px;
  margin-top: -500px;
  margin-right: 100px;
  float: right;
  position: relative;
}
